#header1-1 .btn {
	font-size: 20px !important;
}
#header1-1 P {
	color: #ffffff !important;
}
#content5-6 .caption h3 {
	color: #fff !important;
}
#content5-6 P {
	color: #fff !important;
	text-align: center !important;
}

.email-response {
    text-align: center;
    font-size: medium;
    height: 40px;
}